*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.card{
    padding: 50px;
    height: 350px;
    width: 300px;
    background-color: pink;
    border-radius:20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.card img{
    width: 60%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.buttons{
    margin: 10px;
    background-color:rgb(211, 229, 235);
}
a{
    text-decoration: none;
    color: black;
    margin: 10px;
margin-bottom: 2%;
}
.card h2{
margin-bottom: 2%;
}
.card h4{
margin-bottom: 2%;
}
.card p{
margin: 2%;
}